body {
  max-width: 65%;
  margin: auto;
}

.header {
  display: flex;
  justify-content: flex-end; 
}

.header div {
  margin: 20px;
}

.header .logo {
  justify-self: flex-start;
  margin-right: auto;
}
