body {
  max-width: 67%;
  margin: auto;
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: flex-end; 
  font-family: helvetica;
  /* font-size: 11px; */
  font-size: x-small;
  display: flex;
  align-items: center;
}

.header div {
  margin: 20px;
}

.header .logo {
  justify-self: flex-start;
  margin-right: auto;
}

.image-container {
  position: relative;
}

.image-container-child {
  position: absolute;
  bottom: 120px;
  left: 0px;
  background-color: white;
  opacity: 50%;
  width: 1280px;
  height: 20%;
  display: flex;
  flex-direction: column;
  padding: 40px;
  box-sizing: border-box;
}

.image-container img {
  object-fit: cover;
}

.image-text {
  padding: 10px;
  width: 60%;
  font-weight: 500;
  font-family: helvetica;
}

/* #shop-me-button {
  background-color: yellow;
  border: solid 1px;
  opacity: ;
  width: 90px;
} */

.button {
  background-color: white;
  width: 90px;
  position: absolute;
  top: 83%;
  left: 5%;
  font-size: 11px;
  font-family: helvetica;
  display: flex;
  justify-content: center;
  line-height: 20px;
  padding: 9px;
}

.container {
  position: relative;
}

 /* MERCH COMPONENT */

 #merch-header {
   display: flex;
   justify-content: center;
   font-family: Helvetica;
   padding: 80px;
   font-size: x-small;
   font-weight: bolder, 200;
 }

 .tokyobike-layout {
   display: flex;
   flex-shrink: inherit;
   flex-wrap: wrap;
 }